In [0]:
#문제 4. Hello World! 를 출력하세요.

In [0]:
#문제 5. 주어진 숫자를 더해 출력하세요.
#출력 형식: The sum of 2.8 and 9.4 is 12.2

num1 = 2.8
num2 = 9.4

In [0]:
#문제 6.print 함수와 separator를 이용해 오늘 날짜를 출력하세요 (예: 2019-10-19).

In [0]:
#문제 7. %로 문자열을 포맷팅해 본인의 이름과 좋아하는 숫자를 출력하세요.
#출력 예시: 김학래가 좋아하는 숫자는 49입니다.

In [0]:
#문제 8. print문에서 다음 숫자를 아래와 같이 출력하세요.
#입력 숫자: 894, 1234.5678
#출력: ID: 00894, Budget: 1234.12

In [0]:
#문제 9. 문자열을 치환하세요.
#입력문자: 좋은사람
#출력형식: 치환결과 - 멋진사람

str = "좋은사람"

In [0]:
#문제 10. 문자열에서 특정문자만 출력하세요.
#입력: chungang university
#출력: ang

str = 'chungang university'

In [0]:
#문제 11. 수학, 영어 성적이 모두 90 이상이면 '합격', 그렇지 않은 경우 '불합격'을 출력하세요.  
#입력 변수는 아래와 같습니다.
math = 90
english = 90

In [0]:
#문제 12. 아이디/패스워드가 admin/1234이면 "관리자 로그인 성공", super/1234이면 "관리자 로그인 성공", "최고관리자 로그인"으로 출력하세요
admin = "admin"
super_user = "super"
pwd = "1234"

In [0]:
#문제 13. 다음 조건을 처리할 수 있는 코드를 작성하세요.
#수학 성적이 90점 이상이고, 영어 성적이 90점 이상이면 "A 지원 가능", 80점 이상이면 "B 지원 가능", 그렇지 않으면 "지원불가"
#수학 성적이 90점 이하이면 "수학 성적 (45)로 지원할 수 없습니다"

math = 45
english = 85

In [0]:
#문제 14. 다음 세 개의 숫자 중 가장 큰수를 출력하세요.(if문 사용) : 12, 6, 18

a = 12
b = 6
c = 18

In [0]:
#문제 15. 다음 주민등록 번호에서 7자리 숫자를 사용해서 남자, 여자를 판별하세요. (1,3 : 남자, 2,4 : 여자)

num = '831012-2433437'

In [0]:
#문제 16. while 문을 이용해 1에서 10까지 출력하세요.
#출력 형식: 
#number is 1
#number is 2

In [0]:
#문제 17. 다음을 딕셔너리(dict)으로 선언하고, 출력하세요. 
#입력: <성인 - 12000 , 청소년 - 10000 , 아동 - 6000>

In [0]:
#문제 18. 딕셔너리(dict)에서 Key 항목만 출력하세요.
#입력: <성인 - 12000 , 청소년 - 10000 , 아동 - 6000>

In [0]:
#문제 19. 딕셔너리(dict)에서 value 항목만 출력하세요.
#입력: <성인 - 12000 , 청소년 - 10000 , 아동 - 6000>

In [0]:
#문제 20. 리스트를 선언하고, 'Apple'을 삭제하세요.
#리스트 항목: Banana, Apple, Orange

In [0]:
#문제 21. for문, range 함수를 이용해 1에서 10까지 출력하세요.
#출력 형식: 
#number is 1
#number is 2

In [0]:
#문제 22. 구단을 출력하세요 (1단에서 9단까지)
#출력 예시: 1 * 1 = 1

In [0]:
#문제 23. for, range를 이용해서 0에서 100까지 10씩 증가하는 숫자를 출력하세요.
#출력형식: num is 0

In [0]:
#문제 24. 다음 배열의 숫자를 하나씩 출력하세요.
#출력예시: The number is 11
numbers = [11, 101, 21, 56, 36, 52]

In [0]:
#문제 25. 아래 리스트 항목 중에서 5글자 이상의 단어만 출력하세요.
string = ["cool", "chungang", "python", "surprised", "!"]

In [0]:
#문제 26. 리스트 x와 y를 결합해서 리스트 z를 만들고 (y 항목의 배열 인덱스가 0, 1, 2로 시작), z의 항목을 다음과 같이 출력하세요.
# x = [10, 20, 30]
# y = [40, 50, 60]
# 출력 형식: z는 1을(를) 갖고 있다.

x = [10, 20, 30]
y = [40, 50, 60]

In [0]:
# 문제 27. 다음 리스트에 있는 숫자에서 최대, 최소값을 함수를 정의해서 출력하는 코드를 작성하세요
# 출력 형식: The MIN number is 43
#          The MAX number is 58585

num = [ 100, 200, 43, 3454, 58585, 28343, 393]

In [0]:
# 문제 28. 함수를 정의하고 주어진 숫자의 모든 합을 계산해 출력하세요.
# 주어진 숫자: 1, 3, 10

print(sum([1,3,10]))

In [0]:
#문제 29. 주어진 원화 (won)를 환율을 반영해 달러, 유로로 변환하고 출력하세요.
# 1000  won = 0.77 euro | 0.85 dollar 
# 1 euro = 1306.97 won, 1 dollar = 1173.96 won
# 입력 예시: money = [1000, 2000, 1000000, 5342150, 90000, 36521458, 201201, 96521]
# 출력 예시: WON: [1000, 2000, 1000000, 5342150, 90000, 36521458, 201201, 96521]
#          USD: [0.85, 1.71, 852.86, 4556.13, 76.76, 31147.83, 171.6, 82.32]
#          Euro: [0.77, 1.54, 767.57, 4100.52, 69.08, 28033.05, 154.44, 74.09]


# 원(￦)에서 달러($)로 바꿔주는 함수
def krw_to_usd(won):
    # 코드를 입력하세요.

# 원(￦)에서 유로(￥)로 바꿔주는 함수
def usd_to_euro(dollar):
    # 코드를 입력하세요.

# 원(￦)으로 각각 얼마인가요?
money = [1000, 2000, 3000, 5000, 8000, 13000, 21000, 34000]
print("WON: " + str(money))
 
# amounts를 원(￦)에서 달러($)로 바꿔주기
# 코드를 입력하세요.

# 달러($)로 각각 얼마인가요?
print("USD: " + str(money))

# amounts를 달러($)에서 엔(￥)으로 바꿔주기
# 코드를 입력하세요.

# 엔(￥)으로 각각 얼마인가요?
print("Euro: " + str(money))

In [ ]:
#문제 30. 가장 의미있는 영어 단어를 찾으려고 합니다. 알파벳 순서대로 a는 1, b는 2, c는 3 .. z는 26점이 됩니다.
# 어떤 단어를 입력했을 때, 그 단어의 점수를 계산하는 코드를 작성하세요.
# Attitude: 100, Hard work (98), Love (54), Happy (85)

str = 'abcdefghijklnmopqrstuvwxyz'